
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#btnListar{
    width: 100%;
}
.textoError{
    width: 50%;
    margin: auto;
    font-size: x-small;
    text-align: center;
    color: red;
    border: solid 5px chocolate;
}
.textoCorrecto{
    font-size: x-small;
    text-align: center;
    color: rgb(71, 161, 73);

}

.modal-custom{
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#listaDisp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.collection-item {
    width: 30%; /* Ajusta el ancho según tus necesidades */
    margin-bottom: 10px; /* Espacio entre elementos */
    border-bottom: none !important;
}

.btn-add-device {
    margin-top: 20px;
    margin-bottom: 10px;
}

.custom-collection {
    border: none !important
}

.custom-item {
    border: 1px solid #888888 !important;
    margin-bottom: 20px !important;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

.custom-title {
    font-size: 18px;
    font-weight: 700;
}

.custom-icon {
    cursor: pointer;
}